/* app.css */

/* app.css */

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh; /* Asegura cubrir toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye contenido y footer */
}

main {
  flex: 1; /* Expande el main para que empuje el footer hacia abajo */
  padding: 2rem;
}

@media (max-width: 768px) {
  #root {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  #root {
  }
}
